* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: 'roboto', sans-serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: #c5d2e6;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
    display: flex;
    padding: 10px;
}

#calculator {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#tempInput, 
    #tempScaleList {
    margin-left: 10px;
    background-color:#f0f2f5;
    border: 1px solid black;
    border-radius: 5px;
}

#tempInput {
    width: 50px;
    font-size: 20px
}

#convertBtn {
    width: 100px;
    height: 100px;
    background-color: #3577db;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 20px;
}

#tempScale, 
    #input {
        font-size: 25px;
    }

#tempScaleList {
    width: 110px;
    background-color: #f0f2f5;
    font-size: 20px;
}

#textResult {
    font-size: 20px;
}