* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tempScale {
    display: flex;
    flex-direction: row;
}

.convertBtn {
    display: flex;
    flex-direction: row;
}